{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>CADASTRE</h3><hr>
        <form method="post" action="{{url_for('add_produto')}}">
            <div class="form-group">
                <label>Nome Produto</label>
                <input type="text" name="nome_produto" required class="form-control">
            </div>
            <div class="form-group">
                <label>Quantidade</label>
                <input type="text" name="quantidade" required class="form-control">
            </div>
            <div class="form-group">
                <label>Data de Compra</label>
                <input type="text" name="data_compra" required class="form-control">
            </div>
            <div class="form-group">
                <label>Data de Validade</label>
                <input type="text" name="data_validade" required class="form-control">
            </div>
            <div class="form-group">
                <label>Valor de Compra</label>
                <input type="text" name="valor_compra" required class="form-control">
            </div>
            <div class="form-group">
                <label>Valor de Venda</label>
                <input type="text" name="valor_venda" required class="form-control">
            </div>
            <div class="form-group">
                <label>Lucro em Porcentagem</label>
                <input type="text" name="lucro_porcentagem" required class="form-control">
            </div>
        </br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>
        
</div>

{% endblock %}